# Ignore data files
/small_box/Data/SS1D/
*.CTD
*.mat
*.csv
*.nc
*.bot
*.grd

# Ignore figures
*.png
*.pdf
*.bmp
*.eps
*.jpeg
*.jpg

# Ignore temporary build/log files
/*/Build_roms/
*.log
*~

# Ignore OS metadata files
*.DS_Store
*._*

# Ignore excuetable files
romsM
